// Colors 
$primary10: hsl(0, 0%, 100%);
$primary300: hsl(0, 100%, 79%);
$primary500: hsl(0, 93%, 64%);


$secondary400: hsl(240, 12%, 30%);
$secondary500: hsl(240, 14%, 11%);
$secondary900: hsl(0, 0%, 0%);

